@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}

body {
    font-size: 100%;
    position: relative;
    width: 1920;
    height: 1080;
    background: rgba(8,7,12,255);
}

h1 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

label {
    color: white;
}

.task-search {
    color: white;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 22em;
    width: 45em;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    box-shadow: 4px 5px 4px rgba(255, 255, 255, 0.25);
    margin-top: 20%;
    margin-left: 22%;
    padding-top: 30px;
    
}

.form {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    gap: 10px;
}

button {
    background-color: rgba(8,7,12,255);
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    size: 100px;
    color: white;
}

button-style:houver {
    background-color: rgba(33,32,36,255);
}

.list-search {
    display: flex;
    flex-direction: column;
}

.search-input {
    width: 100%;
    margin: 8px 0;
}